
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

//Colors
$accent-blue: #4cb0fc;
$accent-yellow: #ffc033;
$accent-pink: #ec4989;

$text-grey: #95989a;
$text-white: #fff;

$background-grey: #f5f6f9;
$background-white: #fff;

$shadow-grey: #737172;

body
{
    background-color: $background-grey;
}
.table > thead > tr > td
{
    border-top: none;
    border-bottom: 1px solid $shadow-grey;
}
#sidebar
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 200px;
    height: 100%;

    background-color: $background-white;
    box-shadow: -8px 2px 20px $shadow-grey;
}
.sidebar--header
{
    padding: 10px;
    padding-top: 30px;
}
.sidebar--logo
{
    width: 60%;
    height: auto;

    object-fit: contain;
}
.sidebar--title
{
    padding-top: 5px;
    padding-left: 0;
}
.sidebar--user__picture
{
    width: 30px;
    height: 30px;

    border-radius: 50% 50%;

    object-fit: cover;
}
.sidebar--user
{
    padding-top: 30px;
}
.sidebar--dropdown
{
    padding-top: 30px;

    text-align: center;
}
.sidebar--navigation
{
    h1
    {
        font-size: 12px;
        font-weight: 400;
    }
    span
    {
        font-size: 11px;
    }
}
.sidebar--navigation__option
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.box-xs-flashcard
{
    height: 90px;
    margin: 10px;
    padding: 10px;

    background: $background-white;
    //box-shadow: -8px 2px 20px $shadow-grey;
}
.box-md-flashcard
{
    overflow-y: scroll;

    height: 300px;
    margin: 10px;
    padding: 20px;

    background: $background-white;
}
.box-lg-flashcard
{
    height: auto;
    margin: 10px;
    padding: 20px;

    background: $background-white;
}

.content--title
{
    font-size: 18px;
}
.flashcard--tag
{
    font-size: 12px;

    display: block;

    color: $accent-blue;
}
.flashcard--title
{
    font-size: 12px;

    display: block;

    margin-top: 0;

    color: $text-grey;
}
.flashcard--icon
{
    width: 50px;
    height: 50px;
    margin: 10px;

    opacity: .5;

    object-fit: contain;
}
.flashcard--dot
{
    width: 10px;
    height: 10px;
}
.flashcard--number
{
    font-size: 25px;
    font-weight: 400;

    display: block;

    color: $text-grey;
}
.flashcard--input
{
    margin: 10px 15px;
}
.box-login-flashcard
{
    height: auto;
    margin: 10px;
    margin-top: 40%;
    padding: 20px;

    background: $background-white;
}
.login--logo
{
    width: 60%;
    height: auto;
    padding-top: 30px;

    object-fit: contain;
}
.login--button
{
    width: 80%;
    margin: 10px;
    padding: 2px;

    color: $text-white;
    background: $accent-blue;
}
.login--input
{
    border: none;
    border-bottom: 1px solid #ccd0d2;
    border-radius: 0;
    box-shadow: none;
}
.login--form
{
    margin-top: 30px;
}
